.property-edit-links {
  padding: 20px;
  font-size: 22px;
}

.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
}

.back-to-link {
  color: black;
}

.link {
  color: #c15522;
  text-decoration: none;
  background-color: transparent;
}

.link:hover {
  color: #ad410e;
  font-size: larger;
}

.index_link {
  color: #c15522;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #c15522;
  border-radius: 100px;
  margin: 5px;
  width: auto;
  max-width: 250px;
  padding: 10px 30px;
  opacity: 0.8;
}

.index_link:hover {
  color: #ad410e;
  font-size: larger;
}

.button_to {
  text-align: right;
}



