.property-edit-links {
  padding: 20px;
  font-size: 22px;
}

.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
}

.back-to-link {
  color: black;
}

